{% extends "layout.html" %}

{% set title="DTA(PIII)" %}

{% block col_esq %}
    <input id="search-input" class="search-input form-control mr-sm-2 py-2" type="search"
           placeholder="Procurar item" aria-label="Procurar"/>

        <div>
        <div class="btn-group py-2" role="group" aria-label="Basic outlined example">
            <button id="selectAll" type="button" class="btn btn-sm btn-outline-primary">Selecionar tudo</button>
            <button id="colapseAll" type="button" class="btn btn-sm btn-outline-primary">Colapsar tudo</button>
        </div>
    </div>
    <div id="jstree"></div>
{% endblock %}

{% block col_central %}
    {#conteudo que vem dos #}
    <div id="root"></div>
{% endblock %}


{% block col_drt %}
{% endblock %}