<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"/>

    <script src="https://kit.fontawesome.com/efb8be0006.js" crossorigin="anonymous"></script>

    {% if title %}
        <title>Barragens - {{ title }}</title>
    {% else %}
        <title>Barragens</title>
    {% endif %}
</head>
<body>
<header class="site-header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="{{ url_for('main.home') }}"><img src="../static/images/logo_reg.png"
            ></a>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars text-light"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">

                    <li class="nav-item text-center mx-2 mx-lg-1">
                        <a class="nav-link" href="{{ url_for('main.about') }}">
                            <div>
                                <i class="far fa-envelope fa-lg mb-1"></i>
                            </div>
                            Acerca
                        </a>
                    </li>
                    <li class="nav-item text-center mx-2 mx-lg-1">
                        <a class="nav-link disabled" aria-disabled="true" href="#!">
                            <div>
                                <i class="far fa-envelope fa-lg mb-1"></i>
                            </div>
                            Privado
                        </a>
                    </li>
                    <li class="nav-item dropdown text-center mx-2 mx-lg-1">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <div>
                                <i class="fa-solid fa-book-open fa-lg mb-1"></i>
                            </div>
                            Regulamentação
                        </a>
                        {% if current_user.is_authenticated %}

                            <!-- Dropdown menu -->
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">

                                <li><a class="dropdown-item" href="{{ url_for('main.reg_regulamentos') }}">Tudo</a></li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                <li><p class="dropdown-header">Documentos legais</p></li>
                                <li><a class="dropdown-item" href="{{ url_for('main.reg_rsb') }}">RSB</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('main.reg_rpb') }}">RPB</a></li>
                                <li>
                                    <hr class="dropdown-divider"/>
                                </li>
                                <li><p class="dropdown-header">Documentos técnicos <br> de apoio (DTA)</p></li>

                                <li>
                                    <a class="dropdown-item" href="{{ url_for('main.reg_dtaI') }}">Parte 1 (projeto)</a>
                                    <a class="dropdown-item" href="{{ url_for('main.reg_dtaII') }}">Parte 2
                                        (construção)</a>
                                    <a class="dropdown-item" href="{{ url_for('main.reg_dtaIII') }}">Parte 3
                                        (exploração)</a>
                                    <a class="dropdown-item" href="{{ url_for('main.reg_dtaIV') }}">Parte 4
                                        (pbservação)</a>

                                </li>
                            </ul>

                        {% else %}
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">

                                <li><a class="dropdown-item" href="{{ url_for('users.login') }}">Login...</a></li>
                            </ul>
                        {% endif %}

                    </li>
                </ul>
                <!-- Right links -->
                <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
                    {% if current_user.is_authenticated %}

                        <li class="nav-item text-center mx-2 mx-lg-1">
                            <a class="nav-link" href="{{ url_for('users.account') }}">
                                <div>
                                    <i class="fa-solid fa-circle-user fa-lg mb-1"></i>
                                </div>
                                Conta
                            </a>
                        </li>
                        <li class="nav-item text-center mx-2 mx-lg-1">
                            <a class="nav-link" href="{{ url_for('users.logout') }}">
                                <div>
                                    <i class="fa-solid fa-arrow-right-to-bracket fa-rotate-180 fa-lg mb-1"></i>
                                </div>
                                Sair
                            </a>
                        </li>

                    {% else %}



                        <li class="nav-item text-center mx-2 mx-lg-1">
                            <a class="nav-link" href="{{ url_for('users.login') }}">
                                <div>
                                    <i class="fa-solid fa-arrow-right-to-bracket fa-lg mb-1"></i>
                                </div>
                                Entrar
                            </a>
                        </li>
                        <li class="nav-item text-center mx-2 mx-lg-1">
                            <a class="nav-link" href="{{ url_for('users.register') }}">
                                <div>
                                    <i class="fa-solid fa-upload fa-lg "></i></div>
                                Registar
                            </a>
                        </li>

                    {% endif %}
                </ul>
                <!-- Search form -->


                <form class="d-flex input-group w-auto ms-lg-3 my-3 my-lg-0">
                    <input id='search' type="search" class="form-control" placeholder="palavra 1, palavra 2, ..."
                           aria-label="Search"/>
                    <button id='search_btn' class="btn btn-primary" type="button" data-mdb-ripple-color="dark">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>

                    <div class="form-check mx-3">
                        <input id="rd_search_and" class="form-check-input" type="radio" name="exampleRadios" value="e"
                               checked>
                        <label class="form-check-label text-light" for="rd_search_and">
                            e
                        </label> <br>

                        <input id="rd_search_or" class="form-check-input" type="radio" name="exampleRadios" value="ou">
                        <label class="form-check-label text-light" for="rd_search_or">
                            ou
                        </label>
                    </div>


                </form>
                <a href="javascript:void(0);" id="store"></a> {#//store array#}

            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>


</header>
<main role="main" class="container pt-4">
    <div class="row">

        {#lado esquerdo#}
        <div class="col-lg-3">
            {% block col_esq %}{% endblock %}
        </div>

        {#centro#}
        <div class="col-lg-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}


            {% block col_central %}{% endblock %}

        </div>
        {#    lado direito#}
        <div class="col-lg-1">
            {% block col_drt %}{% endblock %}

        </div>
    </div>
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Jstree -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>


<!-- Ricardos -->
<script src="{{ url_for('static', filename='ricardo_jstree.js') }}"></script>
<script></script>


</body>
</html>