<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Regulamentação de Barragens</title>
    {% endif %}


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">Regulamentação de Barragens</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
                    <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
                        <a class="nav-item nav-link" href="{{ url_for('users.account') }}">Account</a>
                        <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                        <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h4>Links rápidos</h4>

                <h6 class="mt-3 ml-3">Regulamentos de barragens:</h6>
                <div class="list-group" id="sideList" role="tablist">

                    <a class="list-group-item  list-group-item-action list-group-item-info" href="rsb" id="RSB">RSB
                        (2018)<br><small> Regulamento Segurança de Barragens</small></a>
                    <a class="list-group-item  list-group-item-action list-group-item-info" href="rpb" id="RPB">RPB
                        (2018)<br><small> Regulamento de Pequenas Barragens</small></a>
                    <h6 class="mt-3 ml-3">DTA (2019)
                        <br> Documentos Técnicos de Apoio: </h6>
                    <a class="list-group-item  list-group-item-action list-group-item-info" href="dtaI" id="DTA_I">Parte
                        I
                        (Projeto)</a>
                    <a class="list-group-item  list-group-item-action list-group-item-info" href="dtaII" id="DTA_II">Parte
                        II (Construção)</a>
                    <a class="list-group-item list-group-item-action list-group-item-info" href="dtaIII" id="DTA_III">Parte
                        III (Regras de Exploração)</a>
                    <a class="list-group-item list-group-item-action list-group-item-info" href="dtaIV" id="DTA_IV">Parte
                        IV (Observação)</a>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Optional JavaScript -->
<script>

    $(".list-group-item").click(function () {


        // Select all list items
        var listItems = $(".list-group-item");

        // Remove 'active' tag for all list items
        for (let i = 0; i < listItems.length; i++) {
            listItems[i].classList.remove("active");
        }
        // Add 'active' tag for currently selected item
        this.classList.add("active");
    });

    var listItems = document.getElementsByClassName('list-group-item')
    for (let i = 0; i < listItems.length; i++) {
        if (listItems[i].id == "{{ title }}") {
            listItems[i].classList.add("active");
        } else {
            listItems[i].classList.remove("active");
        }
    }
    ;

</script>
</body>
</html>