{% macro  content_format(level) %}
    {% set value = level.value %}

    {% if value is not number %}
        {% if value[0:3] == "Cap" %}
            <h4 class="text-center mt-4">{{ level.name }}</h4>
            <h4 class="text-center mt-1"> {{ level.title }}</h4>
        {% elif value[0:3] == "Sec" %}
            <h5 class="text-center pt-2">{{ level.name }}</h5>
            <h5 class="text-center">{{ level.title }}</h5>
        {% elif value[0:3] == "Sub" %}
            <h6 class="text-center pt-2">{{ level.name }}</h6>
            <h6 class="text-center">{{ level.title }}</h6>
        {% elif value[0:3] == "Art" %}
            <dt class="text-center pt-2">{{ level.name }}</dt>
            <dt class="text-center pb-2">{{ level.title }}</dt>
            {% if level.text != "" %}
                <dd class="text-justify" style="text-indent: 15pt">{{ level.text }}</dd>
            {% endif %}
        {% elif value|length < 3 %}
            <dd class="mb-0 pb-2 text-justify" style="text-indent: 15pt">{{ level.value }}) {{ level.text }}</dd>
        {% endif %}
    {% else %}
        <dd class="text-justify" style="text-indent: 15pt">{{ level.value }} — {{ level.text }}</dd>
    {% endif %}
{% endmacro %}

{#doc#}
<h3 class="mt-4 text-center">{{ doc.name }}</h3>
{% if doc.notes != "" %}
    <dd class="text-center">{{ doc.notes }}</dd>
{% endif %}

{% for level1 in doc.children %}
    {{ content_format(level1) }}
    {% if "children" in level1 %}
        {% for level2 in level1.children %}
            {{ content_format(level2) }}
            {% if "children" in level2 %}
                {% for level3 in level2.children %}
                    {{ content_format(level3) }}
                    {% if "children" in level3 %}
                        {% for level4 in level3.children %}
                            {{ content_format(level4) }}
                            {% if "children" in level4 %}
                                {% for level5 in level4.children %}
                                    {{ content_format(level5) }}
                                    {% if "children" in level5 %}:
                                        {% for level6 in level5.children %}
                                            {{ content_format(level6) }}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
